{namespace users}
 
/**
 * @param title
 */
{template .list}
<!DOCTYPE html>
<html>
  <head>
    <title>{$title}</title>
  </head>
  <body>
    <h1>{$title}</h1>

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/metal-users-rating/UsersRating.js"></script>
    <script type="text/javascript">
    	// new metal.UsersRating(comments).render();
    </script>
  </body>
</html>
{/template}
